@import url('https://fonts.googleapis.com/css?family=Bungee Shade');

*{
    text-align: center;
}


.title{
    padding-bottom: 20px;
    font-family: "Bungee Shade", serif;
    font-size: 500%;
    background-color: transparent;
    color: #ffffff;
}

.center{
    background: url("css/img/atm.png"), #ffffff;
    background-attachment: fixed;
    background-position: center;
    background-size: 100px;
}

.solid-color {
    background-color: #500000;
    margin-inline: 15%;
    margin-top: 0;
    border-radius: 20px;

}

.solid-color footer{
    background-color: inherit;
    border-radius: 15px;
}

.page-title{
    font-size: 40px;
    padding-top: 20px;
    color: #ffffff;
}

.pagelink li{
    font-size: 30px;
    padding-right: 50px;
    width: 50px;
    margin: auto;
    text-align: center;
    display: inline;
    list-style: none;
}

.button {
    background-color: #3c0000;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.button:hover{
    background-color: #5a0000;
    transition: .5s;
}

.button a{
    color: white;
    text-decoration: inherit;
    background-color: transparent;
    font-size: xx-large;
    padding-inline: 37%;
    ;
}

.main-body{
    padding: 10px;
}

.content-wrap{
    padding-bottom: 2.5rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
    font-size: xx-large;
    color: #ffffff;
    padding-bottom: 30px;
}

.image{
    width: 300px;
    justify-content: center;
    padding-bottom: 30px;
}

.name{
    font-family: Arial, serif;
    font-weight: bold;
    color: #ffffff;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 50px;
    gap: 50px;
    margin: 110px;
    object-position: center;
}

.rows{
    display: inline;
    flex-wrap: wrap;
    padding: 25px;
    object-position: center;
}

.txt{
    padding-inline: 100px;
    color: #ffffff;
}

.resume{
    padding-top: 25px;
    width: 800px;
    height: 1000px;
}

.png{
    width: 150px;
    padding: 25px;
}
